<mat-card>
  <h2>{{ isEditMode ? 'Editar Cliente' : 'Agregar Cliente' }}</h2>
  <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">

    <mat-form-field>
      <mat-label>Número de Identificación</mat-label>
      <input matInput formControlName="numeroidentificacion">
      <mat-error *ngIf="clientForm.get('numeroidentificacion')?.hasError('required')">
        El número de identificación es obligatorio.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Primer Nombre</mat-label>
      <input matInput formControlName="primernombre">
      <mat-error *ngIf="clientForm.get('primernombre')?.hasError('required')">
        El primer nombre es obligatorio.
      </mat-error>
      <mat-error *ngIf="clientForm.get('primernombre')?.hasError('minlength')">
        El primer nombre debe tener al menos 2 caracteres.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Segundo Nombre</mat-label>
      <input matInput formControlName="segundonombre">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Primer Apellido</mat-label>
      <input matInput formControlName="primerapellido">
      <mat-error *ngIf="clientForm.get('primerapellido')?.hasError('required')">
        El primer apellido es obligatorio.
      </mat-error>
      <mat-error *ngIf="clientForm.get('primerapellido')?.hasError('minlength')">
        El primer apellido debe tener al menos 2 caracteres.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Segundo Apellido</mat-label>
      <input matInput formControlName="segundoapellido">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Teléfono</mat-label>
      <input matInput formControlName="telefono">
      <mat-error *ngIf="clientForm.get('telefono')?.hasError('required')">
        El teléfono es obligatorio.
      </mat-error>
      <mat-error *ngIf="clientForm.get('telefono')?.hasError('pattern')">
        El teléfono debe tener 10 dígitos.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email">
      <mat-error *ngIf="clientForm.get('email')?.hasError('required')">
        El email es obligatorio.
      </mat-error>
      <mat-error *ngIf="clientForm.get('email')?.hasError('email')">
        Debe ingresar un correo electrónico válido.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Fecha de Nacimiento</mat-label>
      <input matInput formControlName="fechanacimiento" type="date">
      <mat-error *ngIf="clientForm.get('fechanacimiento')?.hasError('required')">
        La fecha de nacimiento es obligatoria.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Valor Estimado</mat-label>
      <input matInput formControlName="valorestimado">
      <mat-error *ngIf="clientForm.get('valorestimado')?.hasError('required')">
        El valor estimado es obligatorio.
      </mat-error>
      <mat-error *ngIf="clientForm.get('valorestimado')?.hasError('min')">
        El valor estimado debe ser mayor o igual a 0.
      </mat-error>
      <mat-error *ngIf="clientForm.get('valorestimado')?.hasError('maxlength')">
        El valor estimado no puede tener más de 10 dígitos.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Observaciones</mat-label>
      <textarea matInput formControlName="observaciones"></textarea>
    </mat-form-field>

    <!-- Botones de acción -->
    <div class="form-actions">
      <button mat-flat-button color="warn" type="submit" [disabled]="clientForm.invalid">
        {{ isEditMode ? 'Guardar Cambios' : 'Agregar Cliente' }}
      </button>
      <button mat-raised-button color="warn" (click)="router.navigate(['/'])" type="button">
        Cancelar
      </button>
    </div>
    
  </form>
</mat-card>
